.root {
  color: indianred;
}

@media screen and (min-width: 480px) {
  .root {
    color: black;
  }
}

.sub {
  color: blue;
}

@media screen and (min-width: 480px) {
  .sub {
    color: red;
  }
}
